// Text
.title-1 {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.title-2 {
    font-size: 2rem;
    display: block;
    text-align: left;
    font-weight: 100;
}

.title-3 {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 100;
}

.subtitle {
    font-size: 1.3rem;
}

.text {
    &-primary {
        color: $primary-color;
    }

    &-primary-light {
        color: $primary-color-light;
    }

    &-primary-dark {
        color: $primary-color-dark;
    }

    &-secondary {
        color: $secondary-color;
    }

    &-tertiary {
        color: $tertiary-color;
    }

    &-dark {
        color: $dark-color;
    }

    &-medium {
        color: $medium-color;
    }

    &-light {
        color: $light-color;
    }
}


// Backgrounds
.bg {
    &-primary {
        background: $primary-color;
        color: set-text-color($primary-color);
    }

    &-primary-light {
        background: $primary-color-light;
        color: set-text-color($primary-color-light);
    }

    &-primary-dark {
        background: $primary-color-dark;
        color: set-text-color($primary-color-dark);
    }

    &-secondary {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-tertiary {
        background: $tertiary-color;
        color: set-text-color($tertiary-color);
    }

    &-dark {
        background: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium {
        background: $medium-color;
        color: set-text-color($medium-color);
    }

    &-light {
        background: $light-color;
        color: set-text-color($light-color);
    }
}


// Lines
.line {
    height: 2px;
    width: 7rem;
    background: $secondary-color;
    display: block;
    margin: 1.25rem auto;
}

.v-line {
    width: 2px;
    height: 2rem;
    background: $secondary-color;
    display: block;
    margin: 0 auto;
}


// Buttons
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    @extend %btn-shared;

    &-primary {
        @extend %btn-shared;
        background: $primary-color;
        color: set-text-color($primary-color);
    }

    &-secondary {
        @extend %btn-shared;
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-dark {
        @extend %btn-shared;
        background: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium {
        @extend %btn-shared;
        background: $medium-color;
        color: set-text-color($medium-color);
    }

    &-light {
        @extend %btn-shared;
        background: $light-color;
        color: set-text-color($light-color);
    }
}

.btn-s {
    padding: 0.5rem 1rem;
}

.btn-l {
    padding: 1.5rem 3.2rem;
}

.btn-xs {
    padding: 0.5rem 0rem;
}

*[class^="btn-"]:hover {
    opacity: 75%;
}


// Cards
.card-1 {
    padding: 1.5rem 1rem;
    background: $primary-color;
    color: set-text-color($primary-color);
    border-top: 3px solid linear-gradient(to right, $secondary-color, $tertiary-color);
    border-radius: 12px;
    margin-bottom: 1rem;
}