// Other
.block {
    display: block;
}


// Text
.title-1 {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 100;
}

.title-2 {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.title-3 {
    font-size: 2rem;
    display: block;
    text-align: left;
    font-weight: 100;
}

.subtitle {
    font-size: 1.3rem;
}

.url {
    display: inline-block;
    font-weight: 600;
    transition: all 0.15s;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    &:hover {
        opacity: 90%;
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
        border-image-slice: 1;
    }
}

.text {
    margin-bottom: 0.5rem;

    &-small {
        font-size: 0.9rem;
    }

    &-primary {
        color: $primary-color;
    }

    &-primary-dark {
        color: $primary-color-dark;
    }

    &-secondary {
        color: $secondary-color;
    }

    &-tertiary {
        color: $tertiary-color;
    }

    &-dark {
        color: $dark-color;
    }

    &-medium {
        color: $medium-color;
    }

    &-light {
        color: $light-color;
    }
}


// Backgrounds
.bg {
    &-primary {
        background: $primary-color;
        color: set-text-color($primary-color);
    }

    &-primary-dark {
        background: $primary-color-dark;
        color: set-text-color($primary-color-dark);
    }

    &-secondary {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-tertiary {
        background: $tertiary-color;
        color: set-text-color($tertiary-color);
    }

    &-dark {
        background: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium {
        background: $medium-color;
        color: set-text-color($medium-color);
    }

    &-light {
        background: $light-color;
        color: set-text-color($light-color);
    }
}


// Lines
.line {
    height: 2px;
    width: 7rem;
    background: linear-gradient(to right, $secondary-color, $tertiary-color);
    display: block;
    margin: 1.25rem auto;
}

.v-line {
    width: 2px;
    height: 2rem;
    background: linear-gradient(to right, $secondary-color, $tertiary-color);
    display: block;
    margin: 0 auto;
}


// Buttons
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    @extend %btn-shared;

    &-primary {
        @extend %btn-shared;
        background: $primary-color;
        color: set-text-color($primary-color);
    }

    &-secondary {
        @extend %btn-shared;
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

    &-dark {
        @extend %btn-shared;
        background: $dark-color;
        color: set-text-color($dark-color);
    }

    &-medium {
        @extend %btn-shared;
        background: $medium-color;
        color: set-text-color($medium-color);
    }

    &-light {
        @extend %btn-shared;
        background: $light-color;
        color: set-text-color($light-color);
    }
}

.btn-s {
    padding: 0.5rem 1rem;
}

.btn-l {
    padding: 1.5rem 3.2rem;
}

.btn-xs {
    padding: 0.5rem 0rem;
}

*[class^="btn-"]:hover {
    opacity: 75%;
}


// Cards
.card-1 {
    padding: 1.5rem 1rem;
    background: $primary-color;
    color: set-text-color($primary-color);
    border-top: 3px solid;
    border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
    border-image-slice: 1;
    border-radius: 0 0 3px 3px;
    min-height: 400px;
}

// .card-1 {
//     padding: 1.5rem 1rem;
//     background: $primary-color;
//     color: set-text-color($primary-color);
//     border-radius: 1.1rem;
//     min-height: 400px;
// }

.card-2 {
    padding: 1.5rem 1rem;
    background: $primary-color-dark;
    color: $primary-color;
    border: 1px solid;
    border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
    border-image-slice: 1;
    border-radius: 0 0 3px 3px;
    min-height: 400px;
}