// General Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $primary-font;
    line-height: 1.5;
    background: $primary-color-dark;
    color: $light-color;
    height: 100%;
}

input, textarea {
    font-family: $secondary-font;
    color: $light-color;
}

a {
    text-decoration: none;
    color: $light-color;
}

ul {
    list-style: none;
}

img {
    /* Stops image from extending beyond container */
    width: 100%;
}

h1, h2, h3,
h4, h5, h6,
p {
    margin-bottom: 0.5rem;
    color: $light-color;
}


// Header
.header-main {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: $primary-color;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
    border-image-slice: 1;

    .container {
        height: 100%;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-items: center;
            text-align: center;
            height: 70px;
            padding: 0 1.5rem;

            .logo a {
                transition: all 0.05s ease;
                font-size: 1.35rem;
                font-weight: 400;

                &:hover {
                    font-weight: 700;
                    background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                    background-size: 100%;
                    background-repeat: repeat;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }

                img {
                    width: 40px;
                    height: 40px;
                    transform: translate(0, -1px);
                }

                span {
                    margin-left: 0.65rem;
                }
            }

            .nav-options {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                justify-items: center;
                text-align: center;

                li a {
                    transition: all 0.15s ease;
                    padding: 0.5rem 0.8rem;
                    font-weight: 400;

                    &:hover {
                        font-size: 1.15rem;
                        font-weight: 700;
                        background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                        background-size: 100%;
                        background-repeat: repeat;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                        border-bottom: 2px solid;
                        border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                        border-image-slice: 1;
                    }
                }
            }
        }
    }
}


// Bookmarks
.bookmarks {
    padding: 7rem 0 3rem 0;

    %bookmarks-grid-shared {
        // TODO change to repeat (4, 1fr)
        display: grid;
        grid-gap: 1.5rem;
        justify-content: space-between;
        text-align: center;
    }

    .bookmarks-grid-l {
        @extend %bookmarks-grid-shared;
        grid-template-columns: repeat(4, 1fr);
    }

    .bookmarks-grid-m {
        @extend %bookmarks-grid-shared;
        grid-template-columns: repeat(4, 1fr);
    }

    .bookmarks-grid-s {
        @extend %bookmarks-grid-shared;
        grid-template-columns: repeat(5, 1fr);
    }

    .bookmarks-grid-xs {
        @extend %bookmarks-grid-shared;
        grid-template-columns: repeat(8, 1fr);
    }
}


// Bookmarks Modal
#bookmarks-modal {
    .modal-content {
        width: 500px;
        margin: 10% auto;

        .modal-header {
            margin-bottom: 0.5rem;
        }

        .modal-body {
            border-radius: 0 0 1rem 1rem;
            padding-bottom: 1.5rem;

            .bookmarks-form {
                .form-control {
                    margin-bottom: 1rem;

                    .text-input {
                        padding: 0.4rem 1rem;
                        width: 100%;
                        font-size: 0.8rem;
                        outline: none !important;
                        color: #000000;
                    }

                    .file-input {
                        padding: 0.4rem 1rem 0.4rem 0;
                        width: 100%;
                        font-size: 0.95rem;
                    }
                }

                .bookmarks-submit-btn {
                    width: 100%;
                    background-position: 0 -35px;
                    background-repeat: repeat-x;
                    background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                    transition: all 0.5s;

                    &:hover {
                        background-position: 0 0px;
                    }
                }
            }
        }
    }
}


// Settings Modal
#settings-modal {
    .modal-content {
        width: 80%;
        margin: 10% auto;

        .modal-header {
            margin-bottom: 0.5rem;
        }

        .modal-body {
            border-radius: 0 0 1rem 1rem;

            .title-3 {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }

            .change-size-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                justify-items: center;
                text-align: center;

                .box {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    text-align: center;
                    font-weight: bold;
                    border: 2px solid $light-color;
                    border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                    border-image-slice: 1;

                    &-l {
                        @extend .box;
                        height: 100px;
                        width: 75px;
                        font-size: 2.5rem;
                        margin-left: 0.5rem
                    }

                    &-m {
                        @extend .box;
                        height: 60px;
                        width: 80px;
                        font-size: 1.7rem;
                    }

                    &-s {
                        @extend .box;
                        height: 55px;
                        width: 55px;
                        font-size: 1.5rem;
                    }

                    &-xs {
                        @extend .box;
                        height: 35px;
                        width: 40px;
                        font-size: 1rem;
                    }
                }
            }

            .bookmarks-list {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: stretch;
                justify-items: stretch;
                text-align: center;
                flex-grow: 1;
                gap: 0.5rem;
                padding-bottom: 2rem;
            }
        }
    }
}