// General Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $primary-font;
    line-height: 1.5;
    background: $primary-color-dark;
    color: $light-color;
    height: 100%;
}

input, textarea {
    font-family: $secondary-font;
    color: $light-color;
}

a {
    text-decoration: none;
    color: $light-color;
}

ul {
    list-style: none;
}

img {
    /* Stops image from extending beyond container */
    width: 100%;
}

h1, h2, h3,
h4, h5, h6,
p {
    margin-bottom: 0.5rem;
    color: $light-color;
}


// Header
.header-main {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: $primary-color;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
    border-image-slice: 1;
    z-index: 5;

    .container {
        height: 100%;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-items: center;
            text-align: center;
            height: 70px;
            padding: 0 1.5rem;

            .logo a {
                transition: all 0.05s ease;
                font-size: 1.35rem;
                font-weight: 400;

                &:hover {
                    font-weight: 700;
                    background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                    background-size: 100%;
                    background-repeat: repeat;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }

                img {
                    width: 40px;
                    height: 40px;
                    transform: translate(0, -1px);
                }

                span {
                    margin-left: 0.65rem;
                }
            }

            .nav-options {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                justify-items: center;
                text-align: center;

                li a {
                    transition: all 0.15s ease;
                    padding: 0.5rem 0.8rem;
                    font-weight: 400;

                    &:hover {
                        font-size: 1.15rem;
                        font-weight: 700;
                        background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                        background-size: 100%;
                        background-repeat: repeat;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                        border-bottom: 2px solid;
                        border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                        border-image-slice: 1;
                    }
                }
            }
        }
    }
}


// Bookmarks
.bookmarks {
    padding: 7rem 0 3rem 0;

    #bookmarks-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        position: relative;
        transition: transform;

        .bookmarks-item {
            display: block;
            position: absolute;
            margin: 5px;
            z-index: 1;
    
            &.muuri-item-dragging {
                z-index: 3;
                opacity: 0.4;
            }
        
            &.muuri-item-releasing {
                z-index: 2;
            }
        
            &.muuri-item-hidden {
                z-index: 0;
            }
        }
    }
}


// Bookmarks Modal
#bookmarks-modal, #edit-bookmarks-modal {
    z-index: 9;

    .modal-content {
        width: 500px;
        margin: 25% auto;

        .modal-header {
            margin-bottom: 0.5rem;
        }

        .modal-body {
            border-radius: 0 0 1rem 1rem;
            padding-bottom: 1.5rem;

            .bookmarks-form {
                .form-control {
                    margin-bottom: 1.5rem;

                    &.bookmarks-name {
                        margin-bottom: 1rem;
                    }

                    .text-input {
                        padding: 0.4rem 1rem 0.4rem 0.2rem;
                        width: 100%;
                        font-size: 1.25rem;
                        outline: none !important;
                        color: #000000;
                        background: transparent;
                        color: $light-color;
                        border: none;
                        border-bottom: 1px solid $light-color;

                        @include change-placeholder-color(white);
                        @include change-placeholder-opacity(0.6);
                    }

                    textarea.text-input {
                        height: 100px;
                        min-height: 100px;
                        resize: vertical;
                        border: 1px solid $light-color;
                        padding: 0.75rem 1rem;
                    }

                    .file-input {
                        padding: 0.4rem 1rem 0.4rem 0;
                        width: 100%;
                        font-size: 0.95rem;
                    }
                }

                .bookmarks-submit-btn {
                    width: 100%;
                    background-position: -425px 0;
                    background-repeat: repeat-y;
                    background-image: linear-gradient(to left, $primary-color-dark, $primary-color);
                    transition: all 0.5s ease;
                    font-size: 1.2rem;
                    padding: 0.7rem 1.6rem 0.5rem;

                    &:hover {
                        background-position: 0 0px;
                    }
                }
            }
        }
    }
}


// Settings Modal
#settings-modal {
    z-index: 8;

    .modal-content {
        width: 900px;
        margin: 25% auto;

        .modal-header {
            margin-bottom: 0.5rem;
        }

        .modal-body {
            border-radius: 0 0 1rem 1rem;

            .title-3 {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }

            .change-size-options {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 1rem;
                justify-content: center;
                align-items: center;
                justify-items: center;
                text-align: center;

                .box-section {
                    height: 200px;
                    width: 100%;
                    background-color: $primary-color-dark;
                    color: $light-color;
                    border-radius: 1rem;
                    cursor: pointer;
                    transition: background-color 0.15s ease;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    text-align: center;

                    &:hover {
                        background-color: rgba($color: $primary-color-dark, $alpha: 0.5);
                    }

                    // &.active {
                    //     // border-top: 2px solid $secondary-color;
                    //     // border-bottom: 2px solid $secondary-color;
                    //     // border-radius: 4rem / 1rem;

                    // }

                    .box {
                        font-weight: bold;
                        border: 2px solid $light-color;
                        border-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                        border-image-slice: 1;
                        margin-bottom: 0.5rem;

                        &-l {
                            @extend .box;
                            height: 100px;
                            width: 75px;
                        }
    
                        &-m {
                            @extend .box;
                            height: 60px;
                            width: 80px;
                        }
    
                        &-s {
                            @extend .box;
                            height: 55px;
                            width: 55px;
                        }
    
                        &-xs {
                            @extend .box;
                            height: 35px;
                            width: 40px;
                        }
                    }

                    .size-label {
                        cursor: inherit;
                    }

                    &.active {
                        // border-top: 2px solid $secondary-color;
                        // border-bottom: 2px solid $secondary-color;
                        // border-radius: 4rem / 1rem;

                        // border: 2px solid $secondary-color;
                        
                        .box {
                            border-width: 4px;
                            // border: 2px solid $secondary-color;
                        }

                        label.size-label {
                            font-size: 1.3rem;
                            font-weight: bold;
                            
                            background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
                            background-size: 100%;
                            background-repeat: repeat;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; 
                            -moz-background-clip: text;
                            -moz-text-fill-color: transparent;
                        }
                    }
                }

            }

            .bookmarks-list-parent {
                //+ Container styles go here
                width: 100%;
                height: 100%;
                padding: 1rem 1.25rem 0.9rem;
                margin-bottom: 1.5rem;
                border-radius: 1rem;
                background-color: $primary-color-dark;
                color: $light-color;

                // TODO create a mixin which takes in a "margin" value in order to set the 5px...
                // TODO ... margin between elements to a different value...
                // TODO ... use the documentation https://github.com/haltu/muuri ...
                // TODO ... also look at _components.scss @ .bookmarks-list-element
                .bookmarks-list {
                    width: 100%;
                    height: 100%;
                    position: relative;
            
                    .bookmarks-list-element {
                        display: block;
                        position: absolute;
                        margin: 5px;
                        z-index: 1;
    
                        &.muuri-item-dragging {
                            z-index: 3;
                        }
                    
                        &.muuri-item-releasing {
                            z-index: 2;
                        }
                    
                        &.muuri-item-hidden {
                            z-index: 0;
                        }
                    }
                }
            }
        }
    }
}


// Delete Confirmation Modal
#delete-confirmation-modal {
    z-index: 10;

    .modal-content {
        width: 550px;
        margin: 20% auto;

        .modal-header {
            margin-bottom: 1rem;
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
            text-align: center;
            border-radius: 0 0 1rem 1rem;

            .delete-message {
                font-size: 1.2rem;
                margin-bottom: 2.5rem;
            }

            .buttons {
                margin-bottom: 2.5rem;

                .btn {
                    margin-right: 0.5rem;
                    font-size: 1.05rem;
                    transition: opacity 0.3s ease;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}