// General
$website-width: 1385px;

// Colors
$primary-color: #2B4670;
$primary-color-dark: #08244D;
$secondary-color: #d83d0d;
$tertiary-color: #d8b40d;
$dark-color: #333333;
$medium-color: #777777;
$light-color: #f4f4f4;
$success-color: #4cb240;
$warning-color: #f7a510;
$danger-color: #ff4428;

// Font
$primary-font: "Dosis", Arial, Helvetica, sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;